body {
  font-family: 'Titillium Web', sans-serif;
  color: 'black';
}
.header{
  background-image:linear-gradient(to right,#E6E6FA,#0673f0);
  display: flex;
  /* justify-content: center; */
  width:100vw;
  align-items: center;
  font-size: large;
  /* position: fixed; */
}
li{
  list-style-type:none;
}

/* tr:hover{
  background-color: #0673f0;
} */
.rowWise{
  display: flex;
  flex-direction: row;
}
.columnWise{
  display: flex;
  flex-direction: column;
}

.center{
  display: flex;
  justify-content: center;
}

.mainTable{
  margin:10;
}